@import url(github.css);

.post {
    font-size: 12px;
    font-family: Arial, SimSun;
    color: #333;
}

    .post h1 {
        font-size: 22px;
        line-height: 22px;
        font-family: Arial, 'Microsoft YaHei';
        margin-bottom: 30px;
    }

    .post h2 {
        font-size: 18px;
        line-height: 18px;
        font-family: Arial, 'Microsoft YaHei';
        margin: 30px 0 10px;
    }

    .post h3 {
        font-size: 12px;
        line-height: 12px;
    }

    .post h4 {
        font-size: 12px;
        line-height: 12px;
    }

    .post h5 {
        font-size: 12px;
        line-height: 12px;
    }

    .post h6 {
        font-size: 12px;
        line-height: 12px;
    }
